{% extends "Save/base.html" %}
{% block styles %}
	.jumbotron{margin:0px;}
	#mainimage{width: 100%; height:auto;  float:center;   display: block;  margin-left: auto; margin-right: auto;}
	#picturetext{font-size:20pt; font-weight:bold; font-family:"lato"; position:absolute; top:40%; left:50%; transform: translate(-50%, -50%); color: white; text-shadow: 1px 2px black; padding:0px;}
	#signupbtn{background-color: #7dcf82; font-size:15pt; font-family:"lato"; position:absolute; top:45%; left:50%; transform: translate(-50%, -50%); text-decoration:none; }
    #signupbtn2{ font-size:15pt; font-family:"lato"; text-decoration:none; color:white; }
	#whoweare{margin-left:25px}
	#info-right{background-color: #7dcf82; margin-right:0px; padding:15px;}
    #info-left{margin-right:0px; padding:15px;}
	#info{margin:0px}
	h1{font-size:25pt; font-family:"lato"; color:white; margin:15px; margin-bottom:10px  }
	h2{font-size:15pt; font-family:"lato"; color:white; margin-left:35px; font-weight:300; margin-top:0px }
	h3{font-size:25pt; font-family:"lato";  margin:15px; margin-bottom:10px }
	h4{font-size:15pt; font-family:"lato"; margin-left:35px; font-weight:300 }
    h5{font-size:25pt; font-family:"lato"; margin-left:15px; font-weight:400 }
    h6{font-size:15pt; font-family:"lato"; margin-left:15px; font-weight:400;padding-top:25px; margin-bottom:10px }
	.container-fluid{padding:0px; margin:0px;}
	#footer{background-color: #7dcf82;}
	#footer-text{font-size:13pt; font-family:"lato"; font-weight:300; margin-left:50px; padding-top:10px; color:white}
    #steps{margin-top:50px; margin-bottom:50px}
{% endblock styles %}
{% block content %}
</nav>
	<div class="container-fluid">
	<p id ="picturetext"> "Need help saving money? Start Here!"</p>
    {% load static %}
	<img src="{% static "Save/mainimage.jpg" %}" id ="mainimage">
        <button type ="button" class = "btn btn-success" id = "signupbtn"><a id = "signupbtn2" href="{% url 'register' %}"> Sign Up</a></button>
	</div>
<div class = "row container-fluid" id = "info">
	<div class = "col-lg-6 container-fluid" id ="info-left">
          <div class="row">
        <div class="col-md-6 col-md-offset-4" >
        <h3>How it works:</h3>
		<h4>Join today by signing up and selecting your preferred saving strategy and track your progress!</h4>
	    </div>
    </div>
    </div>
	 <div class = "col-lg-6 container-fluid" id ="info-right">
		<div class = "col-lg-6 container-fluid" >
          <div class="row">
            <div class="col-md-8 col-md-offset-4" >
             <h1>What we offer:</h1>
             <h2>We are a service Meant to help you save money</h2>
            </div>
          </div>
	 </div>
</div>
<div class = "row container-fluid" id = "steps">
    <div class="col-md-4 col-md-offset-5">
	<div class = "container" id="steps">
        <h5>How to sign up:</h5>

        <h6>Step 1: Select Sign Up Button</h6>
         <h6>Step 2: Fill Out Form and Login</h6>
        <h6>Step 3: Enter Budget Information and Save!</h6>
        </div>
    </div>
</div>


</div>
<div class = "row container-fluid" id = "footer">
	<p id="footer-text"> 2018 | Product of Mangosoft Inc.</p>
</div>
{% endblock content %}